* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, rgba(150, 34, 142, 0.6549019608) 45%, white 7.5%);
  height: 100vh;
}

.container {
  background-color: #151a30;
  max-width: 500px;
  color: white;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 30px;
}
.container h1 {
  text-align: center;
  margin-bottom: 25px;
}
.container form {
  margin-bottom: 21px;
}
.container form .form-group {
  margin-bottom: 10px;
}
.container form .form-group input[type=text],
.container form .form-group input[type=number] {
  width: 100%;
  padding: 10px;
  border-radius: 13px;
  border: 3px solid rgba(150, 34, 142, 0.6549019608);
  outline: none;
  background: transparent;
  color: white;
}
.container form .form-group input[type=text]::-moz-placeholder, .container form .form-group input[type=number]::-moz-placeholder {
  color: rgba(128, 128, 128, 0.651);
}
.container form .form-group input[type=text]::placeholder,
.container form .form-group input[type=number]::placeholder {
  color: rgba(128, 128, 128, 0.651);
}
.container form button {
  padding: 7px 20px;
  display: block;
  margin: auto;
  background: linear-gradient(120deg, rgba(150, 34, 142, 0.6549019608), #121626);
  color: white;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
.container form button:hover {
  transform: scale(1.15);
  transition: ease-in-out 0.6s;
}
.container .student-state {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 10px;
  border-top: 2px solid rgb(183, 165, 165);
}
.container .student-state div {
  display: flex;
  align-items: center;
  gap: 2px;
}
.container .student-state div i {
  height: 20px;
  width: 20px;
  margin-left: 15px;
  background-color: red;
  border-radius: 5px;
}
.container .student-state div i:nth-child(1) {
  background-color: #15aefe;
}
.container .student-state div i:nth-child(3) {
  background-color: #f47121;
}
.container .student-state div i:nth-child(5) {
  background-color: #630eff;
}
.container .student-state div i:nth-child(7) {
  background-color: #ff0fe4;
}
.container #student-list {
  border: 2px solid #652b60;
  border-radius: 10px;
  padding: 10px;
  height: 280px;
  overflow-y: scroll;
}
.container #student-list .student-item {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 15px;
  display: flex;
}
.container #student-list .student-item-info {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: start;
  gap: 5px;
}
.container #student-list .student-item-process {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.container #student-list .student-item-process .delete-button {
  background-color: white;
  color: #dc3545;
  padding: 5px;
  font-size: 20px;
  border-radius: 7px;
}
.container #student-list .student-item-process .delete-button:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: ease 0.5s;
}
.container #student-list .student-item-process .edit-button {
  background-color: #ffc107;
  color: black;
  font-size: 20px;
  border-radius: 7px;
  padding: 5px;
}
.container #student-list .student-item-process .edit-button:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: ease 0.5s;
}
.container #student-list .empty {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* SCROOLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}/*# sourceMappingURL=style.css.map */